<h1>Sandbox#index</h1>
<p>Testing the jamal_framework</p>

<style>
.post {
  border: 1px red solid;
  width: 200px;
  overflow: auto;
  float: left;
}
.post * {
  float: left;
}
</style>
<div id="list" style="float:left; width:33%">
</div>

<div id="post1" class='post'>
  <h2>Post 1: New</h2>
</div>
<div id="post2" class='post'>
  <h2>Post 2: Initialized</h2>
  
  </div>
  
  <div id="post3" class='post'>
    <h2>Post 3: Dinamic loaded</h2>

  </div>